#menuContainer {
  font-family: "Permanent Marker", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#vsPlayerBtn,
#vsComputerBtn {
  font-family: "Permanent Marker", cursive;
  font-size: 20px;
  border: 2px solid;
  border-radius: 5px;
  padding: 10px 20px;
  height: 50px;
  width: 200px;
}

.cell {
  width: 75px;
  height: 75px;
  border: 2px solid;
  box-shadow: 0 0 0 2px;
  line-height: 75px;
  font-size: 50px;
  cursor: pointer;
}

#gameContainer {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  
}

#cellContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 225px;
  margin: auto;
}

#restartBtn,
#backToMainBtn {
  font-family: "Permanent Marker", cursive;
  border: 2px solid;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px;
}

#restartBtn:active,
#backToMainBtn:active {
  background-color: transparent;
}

.winner {
  background-color: #90ee90;
  font-weight: bold;
}
